{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE HTML>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        {% include 'partials/head.html.twig' %}
    </head>
    <body class="is-preload" style="padding: 0">
        {% if grav.theme.config.header_bar %}
            {% include 'partials/header.html.twig' %}
        {% endif %}

        {% block content %}{% endblock %}

        {% include 'partials/footer.html.twig' %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}
    </body>
</html>
